@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1642491221970') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cangku-01:before {
  content: "\e62a";
}

.icon-lianjie-01:before {
  content: "\e631";
}

.icon-lianjie-03:before {
  content: "\e632";
}

.icon-shouye:before {
  content: "\e636";
}

.icon-wenzhang:before {
  content: "\e638";
}

